@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .grid-fit-1 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }

  .grid-fit-015 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .grid-fit-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }

  .actor-form {
    grid-template-columns: 1fr;

    @screen md {
      grid-template-columns: 300px 1fr;
    }
  }
}

.overflow-x-scroll::-webkit-scrollbar {
  display: none;
}

.cq {
  container-type: inline-size;
}

@container (max-width: 200px) {
  .my-age {
    display: none;
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body,
* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.logoText {
  font-family: "go3";
  font-size: 2.5rem;
  color: hsl(347, 89%, 70%);
  margin: 0;
  font-weight: 400;
  padding: 0 0.35rem;
  letter-spacing: normal;
}

.menuLink {
  display: flex;
}

.menuLink > div > span {
  padding-top: 1px;
}

@font-face {
  font-family: "go3";
  src: url("/go3v2.ttf");
}
